@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* body {
  margin: 0;
  line-height: normal;
  height: 729px;
  width: 100%;
} */

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-26xl: 45px;
  --font-size-8xl: 27px;
  --font-size-17xl: 36px;
  --font-size-8xl-8: 27.8px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-mediumslateblue-100: #9970f5;
  --color-mediumslateblue-200: #7f56da;
  --color-white: #fff;
  --color-black: #000;

  /* Gaps */
  --gap-3xs: 10px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-base: 16px;
  --padding-33xl: 52px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.back-btn {
  position: fixed;
  top: 24px;
  left: 32px;
  color: var(--color-mediumslateblue-200);
  text-decoration: none;
  display: flex;
  gap: 8px;
  align-items: center;
}

.back-btn p {
  font-weight: 600;
  font-size: 17.19px;
}

main {
  height: 629px;
  width: 750px;
}

.main {
  height: 700px;
  background: linear-gradient(226deg, #FFF 17.3%, #F3F4F8 55.16%, #7F56DA 93.1%);
}

.img {
  width: 425px;
  height: 600px;
  border-radius: 2px 10px 10px 2px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img:hover {
  background-size: contain;
  background-position: right;
}


.book-name {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  line-break: normal;
  letter-spacing: -0.02em;
  line-height: 110%;
}

.author,
.author-name {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
}

.author {
  font-weight: 300;
  display: inline-block;
  min-width: 99px;
}

.author-name {
  overflow: hidden;
  line-break: anywhere;

  font-weight: 500;

}

.author-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}

.category,
.fiction {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
  display: inline-block;
}

.category {
  width: 131px;
  font-weight: 300;
  white-space: pre-wrap;
}

.fiction {
  font-weight: 500;
  min-width: 87px;
}

.category-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}

.div,
.total-number-of {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 300;
}

.div {
  font-weight: 500;
  display: inline-block;
  min-width: 31px;
}

.total-number-of-books-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}

.available-books,
.div1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 300;
}

.div1 {
  font-weight: 500;
  display: inline-block;
  min-width: 31px;
}

.available-books-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}

.book-id,
.div2 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 300;
  display: inline-block;
  min-width: 112px;
}

.div2 {
  font-weight: 500;
  min-width: 64px;
}

.book-id-parent,
.frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.book-id-parent {
  flex-direction: row;
  gap: var(--gap-3xs);
}

.frame-parent {
  flex-direction: column;
  gap: 12px;
  max-width: 100%;
  font-size: var(--font-size-8xl-8);
}

.issue1 {
  position: relative;
  font-size: var(--font-size-26xl);
  letter-spacing: -0.02em;
  line-height: 100%;
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  min-width: 115px;
}

.issue:hover,
.return:hover {
  background-color: var(--color-mediumslateblue-100);
}

.return1 {
  position: relative;
  font-size: var(--font-size-26xl);
  letter-spacing: -0.02em;
  line-height: 100%;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}

.component-1,
.return {
  display: flex;
  flex-direction: row;
}


.issue,
.return {
  border: none;
  display: flex;
  padding: 16px 52px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--color-mediumslateblue-200);
}

.component-1 {
  width: 495px;
  align-items: flex-start;
  justify-content: space-between;

}

.book-name-parent,
.rectangle-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}

.book-name-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: 52px;
  min-width: 325px;
}

.rectangle-parent {
  width: 996px;
  flex-direction: row;
  align-items: center;
  gap: 76px;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}

.book-details {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(226deg, #FFF 17.3%, #F3F4F8 55.16%, #7F56DA 93.1%);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 50px var(--padding-xl);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}